*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Nunito', sans-serif;
}
.top-nav a::after{
    content: "|";
    margin-left: 50px;
}
.top-nav button{
    border: none;
    background-color: #123163;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}
nav{
    background-color: #c5c5c5;
}
nav h1 {
    font-size: 97px;
}
.main{
    height: 700px;
}
.choose{
    border: 1px solid #6c5cf5;
    border-radius: 35px;
    z-index: 99999;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
    background-color: #fff;
}
.choose article{
    border: 1px solid #d1d1d1;
    padding: 10px;
    border-radius: 10px;
}
.choose h2{
    font-size: 100px;
}
.choose h5{
    color: #1b5ac4;
    font-weight: 800;
}
.best{
    background-color: #123163;
    height: 245px;
    bottom: 0%;
    /* display: flex;
    align-items: flex-end; */
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 60%;
}
.best .text{
    margin-top: 100px;
}